<div class="container">
    <div>
        <h4>Publica una pregunta</h4>
    </div>

</div>

<div>
    <div class="col-sm-8 col-md-11 contact-form" style="float: left;margin: 0.5em">

    </div>
    <div class="col-sm-8 col-md-11 contact-form" style="float: left;margin: 0 auto">
        <mat-card class="mdc-card" [class.mat-elevation-z8]="true">

            <div class="container">



                <div class="col-xs-6 col-md-12 form-group ">
                    <h6 style="  font-weight: bold;"> Titulo</h6>
                    <input class="form-control " id="inputTitulo " name="txtTitulo" [(ngModel)]="pregunta.titulo" placeholder="Resume sobre que trata tu pregunta." type="text " required autofocus />


                </div>

                <div class="col-xs-6 col-md-12 form-group ">
                    <h6 style="  font-weight: bold;"> Descripción</h6>
                    <textarea class="form-control" name="txtDescripcion" [(ngModel)]="pregunta.descripcion" placeholder="Da más detalles sobre tu pregunta." aria-label="With textarea" required></textarea>


                </div>
                <div class="col-xs-6 col-md-12 form-group ">
                    <h6 style="  font-weight: bold;"> ¿Sobre qué trata tu pregunta?</h6>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span *ngFor="let tema of pregunta.temas; let i=index" style="margin-left: 3px" class="input-group-text" id="basic-addon1">
               {{tema}}
              </span>


                        </div>
                        <input type="text" class="form-control" placeholder="Ej: Programación, Matemáticas, etc" aria-label="Username" [(ngModel)]="tema" (keyup)="temasADD($event)" aria-describedby="basic-addon1">
                    </div>



                </div>

                <div class="col-xs-12 col-md-12 form-group">
                    <h6 style="  font-weight: bold;"> Selecciona una imagen (Opcional)</h6>

                    <img *ngIf="nombreImagen != 'No hay imagen selecionada'" height="150px" [src]="rutaImagen">
                    <div class="custom-file">
                        <input type="file" (change)="onSelectFile($event, $event.target.files)" class="custom-file-input" id="inputGroupFile04">
                        <label class="custom-file-label" for="inputGroupFile04">
                            {{nombreImagen}}
          </label>
                    </div>

                </div>
                <div class="row" style="margin-left: 0%; margin-right: 0%;padding-right: 0%">

                    <div class="col-xs-6 col-md-9 form-group btn-block">
                    </div>


                    <br/>
                    <div class="col-xs-6 col-md-3 form-group  btn-block">
                        <button class="btn btn-primary float-right  btn-block" (click)="guardarPregunta()" type="submit">Publicar pregunta</button>

                    </div>
                </div>



            </div>



        </mat-card>

    </div>