<div>

    <div class="loading  row col-md-12" *ngIf="loading">

        <img src="./assets/images/loading.gif" style="float: none;margin: 0 auto; " />

    </div>
    <div *ngIf="!loading" class="col-sm-8 col-md-11 contact-form mb-4" style="float: left;margin: 0 auto">
        <mat-card class="mdc-card pr-0" [class.mat-elevation-z8]="true">


            <div class="w-100 row   pr-0">
                <div class="pl-4   centrarV" style="width: 90%;">
                    <strong> {{pregunta.usuario}}  &nbsp; </strong> <span>   preguntó:</span>

                </div>
                <div class="form-group   pr-0 row  " style="width: 10%">


                    <div class="w-50 pr-0 container">
                        <span class="badge badge-notify">{{pregunta.like}}</span>
                        <img style="margin-right: 2%" (click)="like()" src="./assets/images/like.png " width="28 " height="28 " alt=" ">
                    </div>

                    <div class="w-50 pr-0 container">
                        <span class="badge badge-notify">{{pregunta.dislike}}</span>
                        <img style="margin-right: 2%" (click)="dislike()" src="./assets/images/dislike.png " width="28 " height="28 " alt=" ">
                    </div>
                </div>

            </div>


            <div class="container">

                <div class="w-100 form-group ">
                    <h6 style="  font-weight: bold;"> {{pregunta.titulo}}</h6>
                </div>

                <div class="w-100 form-group ">
                    <h6> {{pregunta.descripcion}}</h6>
                </div>


                <div class="w-100 form-group" *ngIf="rutaImagen != ''">

                    <img style="margin-top: 1em" class="img-responsive" mat-card-image src="{{rutaImagen}}">
                    <div class="custom-file">

                    </div>

                </div>

                <div class="w-100 container   pr-0 row">

                    <div style="width: 87%">
                        <button *ngFor="let tema of pregunta.temas" class="btn btn-primary btn-sm  " type="submit " style="margin-right: 4px; font-weight: bold;   font-size: 10px;">{{tema}}</button>

                    </div>

                    <div *ngIf="puedeResponder" style="width:13%  ">
                        <button class="btn btn-primary btn-block" (click)="clickResponder()">Responder</button>
                    </div>

                </div>

            </div>



        </mat-card>

    </div>

    <div *ngIf="!loading && verFormResponder" class="col-sm-8 col-md-11 contact-form mb-4" style="float: left;margin: 0 auto">
        <mat-card class="mdc-card pr-0" [class.mat-elevation-z8]="true">

            <div class="container">
                <div class="w-100 row ">
                    <h6 style="  font-weight: bold;">Responder a {{pregunta.usuario}}</h6>
                    <textarea class="form-control col-md-12" name="txtDescripcion" [(ngModel)]="descripcionRespuesta" placeholder="Escribe aquí tu respuesta." aria-label="With textarea" required></textarea>


                </div>


                <div class=" col-md-12 row mt-2 pr-0">
                    <div *ngIf="puedeResponder" style="width:80%  ">
                    </div>

                    <div *ngIf="puedeResponder" style="width:20%  ">
                        <button class="btn btn-primary btn-block" (click)="guardarRespuesta()">Publicar Respuesta</button>
                    </div>


                </div>

            </div>




        </mat-card>

    </div>

    <div class="loading  row col-md-12" *ngIf="loadingR">

        <img src="./assets/images/loading.gif" style="float: none;margin: 0 auto; " />

    </div>

    <div *ngIf="!loadingR" class="container">

        <div *ngIf="respuestas.length>0" class="container">
            <h4>Respuestas</h4>
        </div>

        <div *ngFor="let respuesta of respuestas" class="col-sm-8 col-md-11 contact-form mb-3" style="float: left;margin: 0 auto">
            <mat-card class="mdc-card pr-0" [class.mat-elevation-z8]="true">


                <div class="w-100 row   pr-0  ">
                    <div class="pl-4  " style="width: 90%">
                        <strong> {{respuesta.nombres}} </strong> <span>  respondió el  {{respuesta.fecha_respuesta }}  </span>
                        <div class="w-100 form-group  mt-3">
                            <h6> {{respuesta.descripcion}}</h6>
                        </div>

                    </div>
                    <div class="form-group   pr-0 row " style="width: 10%">



                        <div class="w-50 pr-0 container">
                            <span class="badge badge-notify ">{{respuesta.like}}</span>
                            <img style="margin-right: 2%" src="./assets/images/like.png " width="28 " height="28 " alt=" ">
                        </div>

                        <div class="w-50 pr-0 container">
                            <span class="badge badge-notify ">{{respuesta.dislike}}</span>
                            <img style="margin-right: 2%" src="./assets/images/dislike.png " width="28 " height="28 " alt=" ">
                        </div>



                    </div>

                </div>





            </mat-card>

        </div>
    </div>
</div>